body {
  background-color: #e6e6fa;
  font-family: sans-serif;
}

h1 {
  text-align: center;
  font-family: sans-serif;
  font-size: 36px;
  color: #483d8b;
}

h2 {
  margin: 0 0 3px;
  font-size: 28px;
  color: #b8860b;
}

select {
  display: block;
  width: 100%;
  font-size: 18px;
  padding: 8px;
  border-radius: 4px;
  border: 2px solid #483d8b;
}

.container {
  max-width: 600px;
  margin: 60px auto;
  background: #ffffff;
  padding: 30px;
  box-shadow: 8px 8px 15px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.city {
  display: flex;
  margin: 20px 0;
  justify-content: space-between;
  padding: 20px 0;
  border-bottom: 1px dashed rgb(72, 61, 139, 0.5);
}

.city:last-child {
  border-bottom: none;
}

.date {
  opacity: 0.5;
}

.time {
  font-size: 48px;
  font-weight: bold;
  opacity: 0.85;
}

.time small {
  font-size: 24px;
  vertical-align: middle;
  line-height: 36px;
}

footer {
  text-align: center;
  font-size: 18px;
  color: rgba(0, 0, 0, 0.8);
}

.cities-link {
  color: #483d8b;
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
}

.github-link {
  color: #b8860b;
  text-decoration: none;
  font-weight: bold;
}

.github-link:hover {
  color: #483d8b;
}

strong {
  color: #483d8b;
}
